apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld
spec:
  # NOTE: When HPA is active, this value is overridden by HPA.spec.minReplicas.
  # Kept at 3 for initial rollout before HPA takes control.
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: helloworld
      containers:
        - name: helloworld
          resources:
            requests:
              cpu: 150m
              memory: 192Mi
            limits:
              cpu: 500m
              memory: 384Mi
