apiVersion: v1
kind: ResourceQuota
metadata:
  name: shipshape-quota
  namespace: shipshape
spec:
  hard:
    requests.cpu: "4"
    requests.memory: 4Gi
    limits.cpu: "8"
    limits.memory: 8Gi
    pods: "30"

